---
import BaseLayout from '../layouts/BaseLayout.astro'
import Footer from '../components/Footer.vue'
import Contacts from '../components/contacts/Contacts.vue'
import Verify from '../components/icons/Verify.vue'
import Twir from '../components/icons/logotypes/Twir.vue'
import Valory from '../components/icons/logotypes/Valory.vue'
import Projects from '../components/projects/Projects.vue'
import GitHubContributions from '../components/ui/GitHubContributions.vue'
import LinkPreview from '../components/ui/LinkPreview.vue'
import Photo from '../components/ui/Photo.vue'

import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
)

const formatDate = (date: Date) => {
  const year = date.getFullYear()
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const day = String(date.getDate()).padStart(2, '0')

  return `${year}.${month}.${day}`
}
---

<BaseLayout>
  <main class="max-w-screen-md z-10 antialiased w-full mx-auto h-dvh">
    <div class="h-full grow px-5 md:pt-16 flex flex-col justify-center">
      <div class="h-full flex flex-col gap-3">
        <div data-animate="footer">
          <Footer />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
