---
import '../assets/main.css'
import '../assets/fonts.css'
import { SITE_DESCRIPTION, SITE_TITLE } from '../const';

interface Props {
  title?: string
  description?: string
}



const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props as Props
---
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/logo_dark.svg" />
    <slot name="head" />
    <script
        src="https://tracking.valory.su/api/script.js"
        data-site-id="392cb29c9d6f"
        defer
    ></script>
    <script type="module" is:inline>
      const darkIcon = '/logo.svg'
      const lightIcon = '/logo_dark.svg'
      const media = window.matchMedia('(prefers-color-scheme: dark)')
      const link = document.querySelector("link[rel~='icon']")

      const updateFavicon = () => {
        if (!link || link.dataset.locked === 'true') return
        link.setAttribute('href', media.matches ? darkIcon : lightIcon)
      }

      updateFavicon()
      media.addEventListener('change', updateFavicon)
    </script>
    <script type="module" is:inline>
      import { ForesightManager } from 'js.foresight'

      ForesightManager.initialize({
        enableMousePrediction: true,
        trajectoryPredictionTime: 120,
        positionHistorySize: 8,
        defaultHitSlop: { top: 30, left: 30, bottom: 30, right: 30 },
        touchDeviceStrategy: 'viewport',
        enableScrollPrediction: true,
      })
    </script>
  </head>
  <body class="min-h-dvh  text-white">
    <slot />
  </body>
</html>
